@import url("https://fonts.googleapis.com/css?family=Lora:400,500|Public+Sans:400,500");

@font-face {
    font-family: "Lucida Calligraphy-Italic"; 
    font-style: italic;
    font-weight: 460;
    src:
    url("https://fonts.animaapp.com/LucidaCalligraphy-Italic") 
    format("truetype");
}

.frame-sbmptn {
    align-items: flex-start;
    background-color: #4a9d93a1; 
    border: 1px none;
    display: flex; 
    flex-direction: column;
    height: 697px; 
    width: 1520px;
} 

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-groupl {
    height: 115px;
    margin-top: 1px;
    position: relative;
    width: 1325px;
}
    
.rectangle-10 {
    background-color: #24554f;
    border: 1px none;
    height: 114px;
    left: 860px;
    position: absolute;
    top: 9px;
    width: 250px;
}
    
.polygon-3 {
    height: 115px;
    left: 770px;
    position: absolute;
    width: 179px;
}

.sbmptn {
    color:#f5f5f5;
    text-align:left;
    vertical-align:text-top;
    font-size:35px;
    font-family:Lucida Calligraphy;
    left:940px;
    top:40px;
    width:527px;
    height:64px;
    position:absolute;
    letter-spacing:-0.800000011920929px;
    line-height:45px;
}

.polygon-2 {
    height: 115px;
    left: 1020px;
    position: absolute;
    top: 9px;
    width: 180px;
}

.rectangle-9 {
    background-color: #24554fcc;
    border: 1px none;
    height: 114px;
    left: 8px;
    position: absolute;
    top: 9px;
    width: 892px;
}

.title {
    left: 100px;
    letter-spacing: 5px;
    position: absolute;
    top: 250px;
    font-size: 40px;
}

.button-kembali{
    width: 65px;
    height: 33px;
    text-align: center;
    background-color:rgba(74, 157, 147, 0.699999988079071);
    border:0px;
    position: absolute;
    left: 20px;
    top: 50px;
    border-radius: 20px;
}

.chatbot-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
} 
  
.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 32px;
    width: 1450px;
}
  
.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
    
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
  
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    top: 130px;
    left: 10px;
}
  
.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #b2e0db;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-image:url('../images/frame\ 1\ 2.png');
}
  
.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: #24554F;
}
  
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.msg-info-name {
    margin-right: 12px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
}
  
.msg-info-time {
    font-size: 0.85em;
    color: white;
}
  
.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
    color: white;
}
  
.right-msg {
    flex-direction: row-reverse;
}
  
.right-msg .msg-bubble {
    color: #fff;
    border-bottom-right-radius: 0;
}
  
.right-msg .msg-img {
    margin: 0 0 0 10px;
}
  
.msger-inputarea {
    display: flex;
    padding: 0;
    border-top: var(--border);
    background: #4A9D93;
    width: 1000px;
    border-radius: 30px;
    color: white;
    position: relative;
    left: 250px;
    top: -10px;
}
  
.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
  
.msger-input {
    flex: 1;
    background: #4A9D93;
    border-radius: 30px;
    letter-spacing: 2px;
    color: white;
}
  
.msger-send-btn {
    margin-left: 10px;
    background: #4A9D93;;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
    border-radius: 70px;
}
  
.msger-send-btn:hover {
    background: #fff;
}
